@{
    ViewData["Title"] = "Save report";
}

<div class="text-center">
    <h5 class="display-4" style="font-size: 30px;">Файл со списком валют по клиентам 
        сохранён в папку проекта ReportClientCurrency</h5>
</div>
<div class="text-center">
 <a type="button" asp-action="ReportWordExcel" class="btn btn-primary">Назад</a>
</div>
